.detailContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    .detailInfo{
        width: 40%;
        height: calc(100vh - 210px);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .detailEdit{
            width: 50%;
            display: flex;
            align-items: center;
            p{
                height: 30px;
                margin: 0;
                padding: 2px;
                border: 1px solid rgb(159, 118, 41);
                color: rgb(159, 118, 41);
                display: flex;
                align-items: center;
                border-radius: 4px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right: none;
            }
            .detailEditbutton{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                padding: 0 !important;
                border-radius: 4px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                .editIcon{
                    height: 100%;
                    width: 100%;
                    padding: 3px;
                    color: rgb(159, 118, 41);
                    &:hover{
                        color: white;
                    }
                }
                background-color: transparent !important;
                border-color: rgb(159, 118, 41) !important;
                color: rgb(159, 118, 41) !important;
                a{
                    color: rgb(159, 118, 41) !important;
                }
                &:hover{
                    background-color: rgb(159, 118, 41) !important;
                    color: black !important;
                    a{
                        color: black !important;
                    }
                }
            }
        }
        .detailBuy{
            width: 50%;
            display: flex;
            justify-content: space-between;
        }
    }
}