.linkButton{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    .amountOfItems{
        background-color: black;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        color: wheat;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
