.itemListContainer{
    margin: auto 70px;
    .categoryHeader{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        h2{
            margin-left: 10px;
            margin-bottom: 10px;
        }
        .subCategory{
            width: 100px;
            height: 30px;
        }
    }
    hr{
        margin-top: 0;
    }
}