header{
    background-color: wheat;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    link{
        h1{
            width: 35%;
        }
    }
    nav{
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        ul{
            width: 100%;
            display:flex;
            justify-content: space-around;
            align-items: center;
            padding-left: 0;
            li a{
                background-image: linear-gradient(
                    to right,
                    rgb(175, 101, 101),
                    rgb(175, 101, 101) 50%,
                    #000 50%
                );
                background-size: 200% 100%;
                background-position: -100%;
                display: inline-block;
                padding: 5px 0;
                position: relative;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: all 0.3s ease-in-out;
                &:before{
                    content: '';
                    background: rgb(175, 101, 101);
                    display: block;
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    width: 0;
                    height: 3px;
                    transition: all 0.3s ease-in-out;
                }
                &:hover {
                   background-position: 0;
                }
                &:hover::before{
                    width: 100%;
                }
            }
        }
        .search{
            display: flex;
            align-content: flex-end;
            width: fit-content;
            .searchTextbox{
                height: 30px;
                width: 250px;
                border-radius: 30px;
                background-color:transparent;
                text-align: center;
                border: 2px black solid;
            }
            .searchIcon{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: none;
                position: relative;
                left: 30px;
                background-color:transparent;
                display: flex;
                align-items: center;
                cursor: pointer;
                img{
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}

