.login-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 150px);
    background: radial-gradient(circle, rgba(245,222,179,1) 0%, rgba(255,255,255,1) 100%);

    .login {
        width: 500px;
        padding: 26px;
        border-radius: 10px;
        border: 1px solid black;
        background-color: transparent;
        .buttonsContainer{
            width: 30%;
            display: flex;
            justify-content: space-between;
            .linkButton{
                color: rgb(159, 118, 41)  !important;
                text-decoration: underline !important;
            }
        }
        
        .outlineButton{
            margin-top: 5px;
            background-color: transparent !important;
            border-color: rgb(159, 118, 41) !important;
            color: rgb(159, 118, 41) !important;
            a{
                color: rgb(159, 118, 41) !important;
            }
            &:hover{
                background-color: rgb(159, 118, 41) !important;
                color: black !important;
                a{
                    color: black !important;
                }
            }
            
        }
    }
}